# Common database connection configuration settings
# Currently only postgresql is supported as a database type
database:
  type: postgresql

  # Hostname of postgresql instance
  host: {{ db_host }}

  # Port number of postgresql instance, if this is not the default 5432
  port: 5432

  # Database name to use
  database: {{ db_name }}

  # Username to use when connecting to database
  user: {{ db_user }}

  # File containing the password to use when connecting to database
  # passwordFile:

  # Explicit password to use when connecting to database
  password: {{ db_password }}

  # Location of the SSL root certificate to use when connecting
  # if a custom CA is required.
  # sslRootCert:

  # Location of the SSL key file
  # sslKey:

  # Location of the SSL certificate
  # sslCert:

  # SSL mode to use. Can be one of
  # disable, allow, prefer, require, verify-ca, verify-full
  sslMode: require
